<a href="https://colab.research.google.com/github/antussa2016/thesis_work/blob/master/model/thesis_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! git clone https://github.com/antussa2016/thesis_work

Cloning into 'thesis_work'...
remote: Enumerating objects: 123, done.
remote: Counting objects: 100% (123/123), done.
remote: Compressing objects: 100% (106/106), done.
remote: Total 123 (delta 52), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (123/123), 387.90 KiB | 5.10 MiB/s, done.
Resolving deltas: 100% (52/52), done.

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv('thesis_work/dataset/data_for_model.csv')

In [ ]:
df.head(1)

,twitter_id,stackoverflow_id,question_count,answer_count,reputation,answer_tag,question_tag,Openness,Conscientiousness,Extraversion,...,preferred_tags1,preferred_tags2,preferred_tags3,micro-oop,oop,web-pro,database,mobile,statistic,other
0,10F1,145587,13,500,74297,"['go', 'json', 'http', 'goroutine', 'struct', ...","['go', 'javascript', 'python', 'c++', 'linux',...",0.839299,0.170988,0.083984,...,go,javascript,json,0,0,1,0,0,1,0

In [ ]:
df.drop(columns=['twitter_id','stackoverflow_id','question_count','reputation','answer_tag','question_tag'], inplace=True)

In [ ]:
df.head(1)

,answer_count,Openness,Conscientiousness,Extraversion,Agreeableness,Neuroticism,preferred_tags1,preferred_tags2,preferred_tags3,micro-oop,oop,web-pro,database,mobile,statistic,other
0,500,0.839299,0.170988,0.083984,0.047367,0.612101,go,javascript,json,0,0,1,0,0,1,0

In [ ]:
# Calculate min and max values for the column
min_value = df['answer_count'].min()
max_value = df['answer_count'].max()

# Apply min-max scaling to the column
df['answer_count'] = (df[['answer_count']] - min_value) / (max_value - min_value)

df.head(1)

,answer_count,Openness,Conscientiousness,Extraversion,Agreeableness,Neuroticism,preferred_tags1,preferred_tags2,preferred_tags3,micro-oop,oop,web-pro,database,mobile,statistic,other
0,1.0,0.839299,0.170988,0.083984,0.047367,0.612101,go,javascript,json,0,0,1,0,0,1,0

In [ ]:
# # Drop rows where any row contains 0 in 'Column1'
# df = df[df['preferred_tags1'] != '0']

In [ ]:
# df = df[df['preferred_tags2'] != '0']

In [ ]:
# df = df[df['preferred_tags3'] != '0']

In [ ]:
# tag_to_code = {
#     '.net': 1,
#     'c#': 2,
#     'f#': 3,
#     'asp.net': 4,
#     'vb.net': 5,
#     'xml': 6,
#     'java': 7,
#     'python': 8,
#     'swing': 9,
#     'c++': 10,
#     'c': 11,
#     'php': 12,
#     'ruby': 13,
#     'perl': 14,
#     'jquery': 15,
#     'javascript': 16,
#     'node.js': 17,
#     'angularjs': 18,
#     'reactjs': 19,
#     'typescript': 20,
#     'html': 21,
#     'css': 22,
#     'json': 23,
#     'django': 24,
#     'sql': 25,
#     'sql-server': 26,
#     'mysql': 27,
#     'kotlin': 28,
#     'objective-c': 29,
#     'swift': 30,
#     'android': 31,
#     'ios': 32,
#     'go': 33,
#     'scala': 34,
#     'r': 35,
#     'git': 36,
#     'github': 38,
#     'os': 39,
#     'host': 40,
#     '0': 0


# }

In [ ]:
# df['preferred_tags1'] = df['preferred_tags1'].map(tag_to_code)
# df['preferred_tags2'] = df['preferred_tags2'].map(tag_to_code)
# df['preferred_tags3'] = df['preferred_tags3'].map(tag_to_code)

In [ ]:
# # Calculate min and max values for the column
# min_value = df['preferred_tags1'].min()
# max_value = df['preferred_tags1'].max()

# # Apply min-max scaling to the column
# df['preferred_tags1'] = (df[['preferred_tags1']] - min_value) / (max_value - min_value)

In [ ]:
# min_value = df['preferred_tags2'].min()
# max_value = df['preferred_tags2'].max()

# # Apply min-max scaling to the column
# df['preferred_tags2'] = (df[['preferred_tags2']] - min_value) / (max_value - min_value)

In [ ]:
# min_value = df['preferred_tags3'].min()
# max_value = df['preferred_tags3'].max()

# # Apply min-max scaling to the column
# df['preferred_tags3'] = (df[['preferred_tags3']] - min_value) / (max_value - min_value)

In [ ]:
import numpy as np
x= np.array(df.iloc[:,0:6])
y = np.array(df.iloc[:,-7:])

In [ ]:
y = y.argmax(axis=1)

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [ ]:
y_train.shape

(655,)

In [ ]:
# Initialize and train an SVM classifier with hyperparameter tuning
param_grid = {'C': [0.1, 1, 10], 'kernel': ['linear']}
grid_search = GridSearchCV(SVC(), param_grid, cv=3)
grid_search.fit(X_train, y_train)


best_model = grid_search.best_estimator_


predictions = best_model.predict(X_test)

accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.3475609756097561

In [ ]:
for i, (pred_label, true_label) in enumerate(zip(predictions, y_test)):
    print(f"Instance {i + 1}:")
    print("Predicted label:", pred_label)
    print("True label:", true_label)
    print("=" * 40)

# **Random forest**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
rf_classifier = RandomForestClassifier()
param_grid = {
   'n_estimators': [100, 200, 300],
   'max_depth': [None, 10, 20, 30],
   'min_samples_split': [2, 5, 10],
   'min_samples_leaf': [1, 2, 4],
   'max_features': ['auto', 'sqrt', 'log2'],
   'bootstrap': [True, False]
}
random_search = RandomizedSearchCV(estimator=rf_classifier, param_distributions=param_grid, n_iter=100, cv=5, n_jobs=-1, verbose=2, random_state=42)
random_search.fit(X_train, y_train)
best_rf_classifier = random_search.best_estimator_

Fitting 5 folds for each of 100 candidates, totalling 500 fits

In [ ]:
from sklearn.metrics import classification_report
best_rf_classifier.fit(X_train, y_train)
y_pred = best_rf_classifier.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
report = classification_report(y_test, y_pred)
# print("report:", report)

Accuracy: 0.3170731707317073

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
for i, (pred_label, true_label) in enumerate(zip(predictions, y_test)):
    print(f"Instance {i + 1}:")
    print("Predicted label:", pred_label)
    print("True label:", true_label)
    print("=" * 40)