<a href="https://colab.research.google.com/github/antussa2016/thesis_work/blob/master/data_analysis/analysing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/antussa2016/thesis_work

Cloning into 'thesis_work'...
remote: Enumerating objects: 41, done.
remote: Counting objects: 100% (41/41), done.
remote: Compressing objects: 100% (33/33), done.
remote: Total 41 (delta 10), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (41/41), 153.34 KiB | 3.74 MiB/s, done.
Resolving deltas: 100% (10/10), done.

In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('thesis_work/dataset/main_dataset.csv')

In [4]:
df.head(2)

,twitter_id,stackoverflow_id,location,question_count,answer_count,reputation,top_tags_answers,top_tags_question,Openness,Conscientiousness,Extraversion,Agreeableness,Emotional range,Conservation,Openness to change,Hedonism,Self-enhancement,Self-transcendence
0,10F1,145587,"['Louisiana, USA']",13,500,74297,"['go', 'json', 'http', 'goroutine', 'struct', ...","['go', 'javascript', 'python', 'c++', 'linux',...",0.839299,0.170988,0.083984,0.047367,0.612101,0.068207,0.487871,0.294548,0.349292,0.393112
1,1tgr,32133,['London'],33,500,48461,"['c#', '.net', 'f#', 'winforms', 'generics', '...","['rust', 'f#', '.net', 'python', 'c#', 'pandas...",0.849555,0.100009,0.032557,0.001654,0.392036,0.005144,0.303714,0.103960,0.253416,0.167264

In [ ]:
#deleting extra columns

In [5]:
df.drop(columns=['location','Conservation','Openness to change','Hedonism','Self-enhancement','Self-transcendence'], inplace=True)

In [6]:
df.head(1)

,twitter_id,stackoverflow_id,question_count,answer_count,reputation,top_tags_answers,top_tags_question,Openness,Conscientiousness,Extraversion,Agreeableness,Emotional range
0,10F1,145587,13,500,74297,"['go', 'json', 'http', 'goroutine', 'struct', ...","['go', 'javascript', 'python', 'c++', 'linux',...",0.839299,0.170988,0.083984,0.047367,0.612101

In [ ]:
#renameing coumn

In [7]:
df.rename(columns={'Emotional range': 'Neuroticism'}, inplace=True)

In [8]:
df.rename(columns={'top_tags_answers': 'answer_tag','top_tags_question': 'question_tag'}, inplace=True)

In [ ]:
df.head(1)

,twitter_id,stackoverflow_id,question_count,answer_count,reputation,answer_tag,question_tag,Openness,Conscientiousness,Extraversion,Agreeableness,Neuroticism
0,10F1,145587,13,500,74297,"['go', 'json', 'http', 'goroutine', 'struct', ...","['go', 'javascript', 'python', 'c++', 'linux',...",0.839299,0.170988,0.083984,0.047367,0.612101

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819 entries, 0 to 818
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   twitter_id         819 non-null    object
 1   stackoverflow_id   819 non-null    int64
 2   question_count     819 non-null    int64
 3   answer_count       819 non-null    int64
 4   reputation         819 non-null    int64
 5   answer_tag         819 non-null    object
 6   question_tag       819 non-null    object
 7   Openness           819 non-null    float64
 8   Conscientiousness  819 non-null    float64
 9   Extraversion       819 non-null    float64
 10  Agreeableness      819 non-null    float64
 11  Neuroticism        819 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 76.9+ KB

In [9]:
df['answer_tag'] = df['answer_tag'].tolist()

In [10]:
df['question_tag'] = df['question_tag'].tolist()

In [ ]:
df.head(1)

,twitter_id,stackoverflow_id,question_count,answer_count,reputation,answer_tag,question_tag,Openness,Conscientiousness,Extraversion,Agreeableness,Neuroticism,tags
0,10F1,145587,13,500,74297,"['go', 'json', 'http', 'goroutine', 'struct', ...","['go', 'javascript', 'python', 'c++', 'linux',...",0.839299,0.170988,0.083984,0.047367,0.612101,"['go', 'json', 'http', 'goroutine', 'struct', ..."

In [11]:
df['tags'] = df['answer_tag'] + df['question_tag']
df['tags'] = [value.replace('][', ',') for value in df['tags']]

In [ ]:
df['tags'] = df['tags'].tolist()

In [12]:

import ast

In [14]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i)
    return L

In [15]:
df['tags'] = df['tags'].apply(convert)

In [16]:
df['tags'][5]

['javascript',
 'java',
 'struts2',
 'reactjs',
 'ruby',
 'ruby-on-rails',
 'jsp',
 'jquery',
 'node.js',
 'struts',
 'ruby',
 'reactjs',
 'javascript',
 'ruby-on-rails',
 'electron',
 'electron-forge',
 'node.js',
 'rspec',
 'ruby-on-rails-5',
 'electron-builder']

In [ ]:
#finding most common tags

In [18]:
type(df['tags'][0])

list

In [ ]:
from collections import Counter

# data = {'ID': [1, 2, 3],
#         'Tags': ['python, data analysis, pandas',
#                  'python, machine learning',
#                  'java, web development, programming']}
# dataf = pd.DataFrame(data)

# Tokenize and count tag frequencies
tags = []
for tags_string in dataf['Tags']:
    tags.append(tags_string.split(', '))
dataf['tags'] = tags
dataf['tags'][0]

tag_frequencies = Counter(dataf['tags'].tolist())

# # Find the most common programming tags (you can adjust the number)
num_most_common = 5
most_common_tags = tag_frequencies.most_common(num_most_common)

# # Print the most common programming tags
# for tag, frequency in most_common_tags:
#     print(f"Tag: {tag}, Frequency: {frequency} occurrences")